@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .pLink{
    @apply text-pink-500 underline animate-pulse text-3xl
  }
}

html,
body {
  width: 100%;
  overflow-x:hidden;
}
body::-webkit-scrollbar {
  display: none;
}

body{
  -msoverflow-style: none;
  scrollbar-width: none;
}